.paginations{
    position: absolute;
    width: 384px;
    height: 70px;
    left: 768px;
    top: 1967px;
    bottom: 70;
    margin-top: 109px;

    background: #E5E5E5;
    border-radius: 5px;
    border: black 3px solid;
}
.text-color{
    color:black
}