

.movie_details{
    position: relative;
    height:1596px;
    
}
.movie_details-img img{
    position: absolute;
    width: 1606px;
    height: 703.65px;
    left: 167px;
    top: 89px;

    background: #ECEBBC;
    border-radius: 10px;
}
.movie_details-information{
    
    position: relative;
    height: 100vh;
}
.movie_details-information-span{
    position: absolute;
    width: 1593px;
    height: 102.77px;
    left: 167px;
    top: 850.33px;
    bottom: 29.59px;
    

    
    /* or 30px */


    color: #575757;
    // border: black 3px solid;

}
.movie_details-information-span-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
}

.movie_details-information-span-div {
    //height: 21.17px;
    display: flex;
    align-items: stretch;
    position: absolute;


}
.small-span-one{
    position: absolute;
    width: 80.41px;
    height: 30.17px;
    // left: .82px;
    top: 84.21px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 105%;
    display: flex;
    justify-content: center;
    align-items: center;
/* or 15px */


    color: #000000;
    border: 2px solid black;
    text-align: center;

}
.small-span-two{
    
    position: absolute;
    width: 80.41px;
    height: 30.17px;
    left: 95.82px;
    top: 84.21px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 105%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* or 15px */


    color: #000000;
    border: 2px solid black;
    text-align: center;
    

}
.small-span-three{
    position: absolute;
    width: 80.41px;
    height: 30.17px;
    left: 195.82px;
    top: 84.21px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 105%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* or 15px */


    color: #000000;
    border: 2px solid black;
    text-align: center;
    

}
.movie_details-desc{
    position: relative;
    width: 1606px;
    height: 479.77px;
    left: 167px;
    top: 1094.08px;
    bottom: 90px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150.19%;
    /* or 30px */


    color: #575757;
}
